:root{
    --branco-p: #FFFFFF;
    --cinza-2: #C0C0C0;
    --botao-a: #167BF7;
    --cor-de-fundo: #00030C;
    --fonte-p:  'Inter';
    
}
*{
    margin: 0%;
    padding: 0%;
}

body{
    background-color:var(--cor-de-fundo);
    color: var(--branco-p);
    font-family: var(--fonte-p);
    font-size: 16px;
    font-weight: 400;
    
    
}
.principal {
    background-image: url("img/background.png");
    background-repeat: no-repeat;   
    background-size: contain;
    align-items: center;
    text-align: center;
}


.container {
    height: 100vh;
    display: grid;
    grid-template-columns: 50% 50%;
    
}


.container__botao{
    background-color: var(--botao-a);
    border-radius: 5px;
    padding: 1em;
    color: var(--branco-p);
    display: block;
    text-decoration: none;
    margin-bottom: 1em;
}
.botao__secundario{
background-color: transparent;
border: 2px solid var(--branco-p);
}
.container__aviso{
    color: var(--cinza-2);
    font-size: 12px;
}
.container__titulo{
    font-size: 40px;
    font-weight: 700;
}
.container__imagem{
    margin: 1em 0 2em 0;
}
.container__caixa{
    margin: 0 10em;
}
.secundario__imagem{
    width: 80%;
}
.secundario{
    align-items: center;
    margin: 10em;
    
}
.descrição__titulo{
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-p);
    margin-bottom: 0.1em;
}
.secundario__aviso{
    color: var(--cinza-2);
    font-weight: 500;
    font-size: 20px;
}
.terciario__aviso{
    color: var(--cinza-2);
    font-weight: 588;
    font-size: 18px;
}
.terciario{
    align-items: center;
    
}
.botao_3{
    text-align: center;
    display: inline-block;
    margin-top: 1em;
}
.dispositivos__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 5em 0;
}

.dispositivos{
    text-align: center;
}

.lista__item{
    font-size: 32px;
}

.dispositivos__titulo{
    justify-content: center;
    font-size: 48px;
    color: var(--branco-p)
}

.rodape{
    text-align: center;
    margin: 5em 3em;
}
.rodape__logo{
    align-content: center;
    justify-content: center;
}
.rodape__lista{
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin-top: 1em;
}
.lista__link{
    font-size: 16px;
    color: var(--branco-p);
    text-decoration: none;
    margin-left: 1em;
}

.rodape__texto{
    color: var(--cinza-2);
    margin: 1em 0;
    font-size: 14px;
}

.link{
    color: var(--branco-p);
    margin: 1em 0 1em;
    text-decoration: none;
}
.lista__link a:hover{
    color: var(--botao-a);
}
.lista__link a:active{
    color: darkblue;
}
.container__botao:hover{
    background-color: rgba(68, 132, 216, 0.733);
    color: var(--cor-de-fundo);
}
.container__botao:active{
    color: darkblue;
}




